<div class="topbar navbar navbar-expand-lg navbar-dark" style="background-color: #003366">
  <div class="container">
    <a class="navbar-brand" href="#">
      Amigos do Zé Alguém
    </a>
    <div class="d-flex flex-grow-1 align-items-center justify-content-end ml-auto">
      <a class="nav-link text-white" href="{% url 'lista_beneficiarios' %}">Beneficiários</a>
      <span class="mx-2" style="border-left: 1px solid white; height: 20px;"></span>
      <a class="nav-link text-white" href="{% url 'lista_voluntarios' %}">Voluntários</a>
    </div>
  </div>
</div>

<style>
</style>
